<datalist id="disease_list">
<option value='abnormal_menstruation'></option>
<option value='acute_liver_failure'></option>
<option value='altered_sensorium'></option>
<option value='abdominal_pain'></option>
<option value='acidity'></option>
<option value='anxiety'></option>
<option value='blood_in_sputum'></option>
<option value='blurred_and_distorted_vision'></option>
<option value='back_pain'></option>
<option value='bloody_stool'></option>
<option value='bruising'></option>
<option value='breathlessness'></option>
<option value='blackheads'></option>
<option value='brittle_nails'></option>
<option value='blister'></option>
<option value='bladder_discomfort'></option>
<option value='belly_pain'></option>
<option value='burning_micturition'></option>
<option value='cold_hands_and_feets'></option>
<option value='chills'></option>
<option value='constipation'></option>
<option value='cramps'></option>
<option value='cough'></option>
<option value='coma'></option>
<option value='congestion'></option>
<option value='continuous_feel_of_urine'></option>
<option value='chest_pain'></option>
<option value='continuous_sneezing'></option>
<option value='depression'></option>
<option value='dark_urine'></option>
<option value='dischromic _patches'></option>
<option value='diarrhoea'></option>
<option value='distention_of_abdomen'></option>
<option value='dizziness'></option>
<option value='dehydration'></option>
<option value='drying_and_tingling_lips'></option>
<option value='enlarged_thyroid'></option>
<option value='excessive_hunger'></option>
<option value='extra_marital_contacts'></option>
<option value='family_history'></option>
<option value='fluid_overload.1'></option>
<option value='fluid_overload'></option>
<option value='fast_heart_rate'></option>
<option value='foul_smell_of urine'></option>
<option value='fatigue'></option>
<option value='hip_joint_pain'></option>
<option value='history_of_alcohol_consumption'></option>
<option value='high_fever'></option>
<option value='headache'></option>
<option value='itching'></option>
<option value='irritability'></option>
<option value='inflammatory_nails'></option>
<option value='internal_itching'></option>
<option value='increased_appetite'></option>
<option value='irregular_sugar_level'></option>
<option value='indigestion'></option>
<option value='irritation_in_anus'></option>
<option value='joint_pain'></option>
<option value='knee_pain'></option>
<option value='lethargy'></option>
<option value='loss_of_smell'></option>
<option value='loss_of_balance'></option>
<option value='lack_of_concentration'></option>
<option value='loss_of_appetite'></option>
<option value='mucoid_sputum'></option>
<option value='malaise'></option>
<option value='muscle_pain'></option>
<option value='muscle_wasting'></option>
<option value='mild_fever'></option>
<option value='movement_stiffness'></option>
<option value='muscle_weakness'></option>
<option value='mood_swings'></option>
<option value='nodal_skin_eruptions'></option>
<option value='nausea'></option>
<option value='neck_pain'></option>
<option value='obesity'></option>
<option value='pus_filled_pimples'></option>
<option value='passage_of_gases'></option>
<option value='patches_in_throat'></option>
<option value='polyuria'></option>
<option value='pain_behind_the_eyes'></option>
<option value='phlegm'></option>
<option value='pain_during_bowel_movements'></option>
<option value='palpitations'></option>
<option value='pain_in_anal_region'></option>
<option value='puffy_face_and_eyes'></option>
<option value='prominent_veins_on_calf'></option>
<option value='painful_walking'></option>
<option value='red_sore_around_nose'></option>
<option value='red_spots_over_body'></option>
<option value='redness_of_eyes'></option>
<option value='runny_nose'></option>
<option value='rusty_sputum'></option>
<option value='receiving_unsterile_injections'></option>
<option value='restlessness'></option>
<option value='receiving_blood_transfusion'></option>
<option value='small_dents_in_nails'></option>
<option value='silver_like_dusting'></option>
<option value='skin_rash'></option>
<option value='skin_peeling'></option>
<option value='stomach_bleeding'></option>
<option value='scurring'></option>
<option value='sunken_eyes'></option>
<option value='shivering'></option>
<option value='sweating'></option>
<option value='spinning_movements'></option>
<option value='swelling_joints'></option>
<option value='stiff_neck'></option>
<option value='slurred_speech'></option>
<option value='spotting_ urination'></option>
<option value='swollen_extremeties'></option>
<option value='swollen_blood_vessels'></option>
<option value='swollen_legs'></option>
<option value='stomach_pain'></option>
<option value='sinus_pressure'></option>
<option value='swelling_of_stomach'></option>
<option value='swelled_lymph_nodes'></option>
<option value='toxic_look_(typhos)'></option>
<option value='throat_irritation'></option>
<option value='ulcers_on_tongue'></option>
<option value='unsteadiness'></option>
<option value='vomiting'></option>
<option value='visual_disturbances'></option>
<option value='watering_from_eyes'></option>
<option value='weight_gain'></option>
<option value='weight_loss'></option>
<option value='weakness_in_limbs'></option>
<option value='weakness_of_one_body_side'></option>
<option value='yellowish_skin'></option>
<option value='yellow_urine'></option>
<option value='yellowing_of_eyes'></option>
<option value='yellow_crust_ooze'></option>
</datalist>