<div style="padding-left: 20px;">

<h3 style="margin-bottom: 30px;">Add Symptoms</h3>
<p style="color: #777; margin-bottom: 0px;">Add as many symptoms as you can for better results.</p>
<p style="color: #333; font-size: 12px;">Not able to find symptoms <a style="color: blue;" type="submit" href="/addsymp/<%=id%>">Click Here</a></p>
    <div>
        <div class="input-group" style="margin-top: 5px;">
            <!-- <div> -->
            <input style="width: 80%;" list = "disease_list" type="text" id = "input" class="form-control" placeholder="Symptoms e.g. diarrhoea" >
            <%-include("datalistSymptoms")%>
            <button width="width:20%;" onclick="addfunc(),addnode()" class="btn btn-outline-secondary btn-light" type="button" id="button-addon2">Add</button>
            <!-- </div> -->
        <div>
            <p id="list" style="margin-top: 5px; font-size: small;">
            </p>
        </div>
    </div>
        <div style="margin-top:20px ;">
            <input name="a" type="hidden" id="a">
        <input name="b" type="hidden" id="b">
        <input name="c" type="hidden" id="c">
        <input name="d" type="hidden" id="d">
        <input name="e" type="hidden" id="e">
        <input name="a1" type="hidden" id="a1">
        <input name="b1" type="hidden" id="b1">
        <input name="c1" type="hidden" id="c1">
        <input name="d1" type="hidden" id="d1">
        <input name="e1" type="hidden" id="e1">
        <input name="f1" type="hidden" id="f1">
        <input name="f2" type="hidden"  id="f2">
        <input name="new" type="hidden" id="new">
            <button onclick="make_prediction()" type="button" id="reslt" class="btn" style="background-color: #1576d1; color: white; margin-bottom: 100px;">View Results</button>
        </div>
        <div id="root" name="root">
        </div>
        <!-- </form> -->
    </div>
</div>