<nav class="navbar navbar-light" style="height:80px; background-color: #021f30; color: white; width: 100%;top:0;z-index:3;padding: 0px;"> 
  <div class="container-fluid">
    <a class="nav-link" aria-current="page" href="/" style="padding-left: 10%;padding-top: 0px;">
      <img height="75vh" src="fgt.png">
    </a>
  </div>
</nav>