<nav class="nav" style="position:fixed;height:70px; background-color: #021f30; color: white; width: 100%;top:0;z-index:3;">
  <div style="padding-left: 30vh;">
    <ul class="nav">
      <li>
    <a class="nav-link" aria-current="page" href="/" style="padding: 0px;">
      <img height="75vh" src="fgt.png">
      <!-- <strong style="color: white;font-size:xx-large;">Symptomate</strong> -->
    </a>
  </li>
      <!-- <li style="width:100vh; text-align:end;">
      <form action="/detail" method="get">
        <button class="btn" style="margin-top:10px;background-color: #1ac98e;;color: white;"><strong>Checkup</strong></button>
      </form>
    </li> -->
    </ul>
  </div>
  </nav>
  <div class="spacer" style="width:100%;height:55px;">
    &nbsp;
</div>