<%-include("partials/extras/header")%>   
    <script>
        var p1 = 0;
        var agePat = 50;
        function agechange(){
            const age= document.getElementById('age').value;
            console.log(age);
            document.getElementById('age1').innerHTML = age;

            age1 = document.getElementById('age1');
            p2 = (5.2*age)+250;
            p3 = p2.toString()+"px";
            age1.style.paddingLeft = p3;

        }
        // agechange();
        function next(){
            p1=p1+1;
            a = 'p'+p1.toString();
            for(var i=1;i<=2;++i){
                b = 'p'+ i.toString();
                var x = document.getElementById(b);
                x.style.display = 'none';
            }
            var x = document.getElementById(a);
            x.style.display = 'block';
        }
        next();
    </script>
    <style>
        .symp{
            border: 1px solid rgb(146, 146, 248);
            padding: 1px 10px 1px 10px;
            border-radius: 10px;
            background-color: rgb(136, 169, 201);
            /* margin-bottom: 100px; */
            margin: 10px;
        }   
        .symp:hover{
            background-color: rgb(248, 130, 130);
        }
        .hgt{
            border-left: 3px solid black;
            height: 30px;
            padding-left: 20px;
            color: #adb5bd;
        }
        .hg1{
            /* border-left: 3px solid green; */
            height: 30px;
            padding-left: 23px;
            position: relative;
        }
        .hg1::after{
            padding-left: 25px;
            content: '';
            position: absolute;
            left: 0px;
            bottom: 10%;
            height: 100%;
            border-left: 3px solid #1576d1;
        }
        .hg2{
            border-left: 3px solid #1576d1;
            height: 30px;
            padding-left: 20px;
            color: #adb5bd;
        }
        @media (max-width:1000px){
            #basicd1{
                display: none;
            }
        }
    </style>
</head>

<body style="background-color: #eee;">
    <%-include("partials/extras/nav")%> 
    
    
      <div class="container">
        <div class="row">
            <div class="col-lg-1" style="border: 0px solid black; margin: 0px auto 0px auto;"></div>
            <div class="col-lg-2" style="border: 0px solid black; margin: 0px auto 0px auto;" id="basicd1">
                <div style="margin-top:50px;">
                    <div>
                        <div class="hg2">
                            <strong>Personal Details</strong>
                        </div>
                        <div class="hg2">
                            <strong>Sex</strong>
                        </div>
                        <div class="hg2">
                            <strong>General Test</strong>
                        </div>
                        <div class="hg2">
                            <strong>BMI data</strong>
                        </div>
                        <div class="hg2">
                            <strong>Temperature</strong>
                        </div>
                        <div class="hg1">
                            <strong>Miscellaneous</strong>
                        </div>
                        <div class="hgt">
                            <strong>Symptoms Check</strong>
                        </div>
                        <div class="hgt">
                            <strong>Results</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 justify-content-center"style="border-radius:10px; margin: 50px auto; background-color: white;padding:5% 3% 5% 5%;" id="p1">
                <!-- <center> -->
                <form action="/symptoms/<%=id%>" method="post">
                <div style="">
                    <h4 style="padding-left: 3%;">Fill As per requirement</h4>
                    <div style="margin-top: 35px;">
                        <div>
                        <p style="float: left;">Are you a regular smoker</p> 
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group" style="padding-left: 34.7vh;">
                              <input type="radio" name="smoke" style="margin-top: 7px;" value="yes" required>&#160Yes
                              <input type="radio" name="smoke" style="margin-top: 7px;margin-left: 30px" value="no" required>&#160No
                              <!-- <input type="radio" name="select" style="margin-top: 7px;">Don't Know -->
                            </div>
                          </div>
                        <hr>
                        </div>

                        <div>
                        <p style="float: left;">Do you consume alcohol regulary</p> 
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group" style="padding-left: 28vh;">
                              <input type="radio" name="alcohol" style="margin-top: 7px;" value="yes" required>&#160Yes
                              <input type="radio" name="alcohol" style="margin-top: 7px; margin-left: 30px;" value="no" required>&#160No
                              <!-- <input type="radio" name="select" style="margin-top: 7px;">Don't Know -->
                            </div>
                            
                          </div>
                        <hr>
                          </div>
                        <div>   
                        <p style="float: left;">Do you regularly take part in physical activities</p>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group" style="padding-left: 10vh;">
                              <input type="radio" name="physc" style="margin-top: 7px;" value="yes" required>&#160Yes
                              <input type="radio" name="physc" style="margin-top: 7px; margin-left: 30px" value="no" required>&#160No
                              <!-- <input type="radio" name="select" style="margin-top: 7px;">Don't Know -->
                            </div>
                            
                          </div>
                        <hr>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin-left: 40%;">Next</button>
                </div>    
            </form>
            <!-- </center> -->
            </div>
            
            <div class="col-md-2" style="border: 0px solid black; margin: 50px auto;"></div>
        </div>
      </div>
</body>

</html>